.banner {
  height: 656px;
  .header-right {
    width: 60.3%;
    background-image: url("#{$images}/banner.svg");
  }
  .header-top {
    background-color: $blue;
    height: 36px;
    width: 60.3%;
    .header-top-item {
      margin-left: 100px;
      &:first-child {
        margin-left: 0;
      }
      &__text {
        font-family: $f_Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
  .banner-slogan-left {
    color: $blue;
    font-size: 56px;
    line-height: 75px;
    font-family: $f_NotoSans_Bold;
    width: 35%;
  }
  .barro {
    transform: translateX(-50%);
  }
  .col-left {
    width: 35%;
    padding-top: 60px;
    .banner-text-home {
      font-family: $f_NotoSans_Bold;
      font-size: 14px;
      line-height: 19px;
      margin-left: 10px;
    }
  }
  .col-right {
    width: 59%;
    margin-top: 60px;
    .menu {
      li {
        margin-left: 72px;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    .tab-now-future {
      li {
        button {
          font-size: 22px;
          font-family: $f_NotoSans_SemiBold;
          opacity: 0.5;
          padding: 0 37px;
          line-height: 30px;
          &.active {
            border-bottom: 1px solid #fff;
            padding-bottom: 16px;
            opacity: 1;
          }
        }
      }
    }
    .now-future-panel {
      .now-future-item {
        margin-left: 106px;
        &:first-child {
          margin-left: 0;
        }
        &__number {
          color: #cfe5ff;
          font-size: 64px;
          font-family: $f_NotoSans_Bold;
          line-height: 88px;
        }
        &__text {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}
.background-pink {
  background-color: #ffd1e8;
  strong,
  b {
    font-family: $f_NotoSans_Bold;
  }
}
.box-wrapper {
  width: 59%;
}
.background-light-gray {
  background-color: #f4f4f4;
}
.background-light-green {
  background-color: #f3f9ff;
}
.cloud-service {
  strong,
  b {
    font-family: $f_NotoSans_Bold;
  }
}
.job-name {
  font-family: $f_Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: $blue;
}
.job-lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .job-item {
    .job-description {
      color: $grey;
      font-size: 16px;
      line-height: 22px;
    }
    .job-position {
      background-color: $blue;
      padding: 4px 6px;
      border-radius: 8px;
    }
  }
}
.wrapper-content-bottom {
  width: 82%;
  .content-bottom-item {
    border-radius: 10px;
    padding: 40px 36px;
    border: 1px solid #dedede;
    box-shadow: 0px 13px 19px 0px #00000012;
    margin-left: 35px;
    width: 30%;
    &:first-child {
      margin-left: 0;
    }
    .title {
      font-family: $f_Roboto;
      font-weight: 700;
      font-size: 22px;
    }
    .description {
      font-family: $f_Roboto;
      font-weight: 700;
      font-size: 12px;
    }
    .detail {
      .price {
        font-family: $f_NotoSans_Bold;
        line-height: 65px;
      }
      .unit-detail {
        margin-left: 10px;
        .unit {
          font-family: $f_Roboto;
          font-weight: 700;
          font-size: 22px;
          line-height: 33px;
        }
        .per-month {
          font-family: $f_Roboto;
          font-weight: 700;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
}
.footer {
  border-top: 1px solid #99999975;
  background-color: #f3f9ff;
  .footer-wrapper {
    width: 84%;
    .footer-item {
      border-left: 1px solid #99999975;
      padding-left: 40px;
      padding-right: 40px;
      width: 33%;
      &:first-child {
        border-left: 0;
      }
      .title {
        font-family: $f_NotoSans_Medium;
        font-size: 22px;
        line-height: 30px;
        color: $blue;
      }
      .info {
        font-size: 14px;
        color: $grey;
        p {
          margin-bottom: 16px;
        }
      }
    }
  }
}
