.banner {
  height: 656px;
  .header-right {
    width: $banner_right_width;
    background-image: url("#{$images}/banner.svg");
  }
  .header-top {
    background-color: $blue;
    height: 36px;
    width: $banner_right_width;
    .header-top-item {
      &__text {
        font-family: $f_Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
  .banner-slogan-left {
    color: $blue;
    font-size: 56px;
    line-height: 75px;
    font-family: $f_NotoSans_Bold;
    width: 35%;
  }
  .barro {
    transform: translateX(-50%);
  }
  .col-left {
    width: 35%;
    padding-top: 60px;
    .banner-text-home {
      font-family: $f_NotoSans_Bold;
      font-size: 14px;
      line-height: 19px;
      margin-left: 10px;
    }
  }
  .col-right {
    width: 59%;
    margin-top: 60px;
    .menu {
      li {
        a {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    .tab-now-future {
      li {
        button {
          font-size: 22px;
          font-family: $f_NotoSans_SemiBold;
          opacity: 0.5;
          padding: 0 37px;
          line-height: 30px;
          &.active {
            border-bottom: 1px solid #fff;
            padding-bottom: 16px;
            opacity: 1;
          }
        }
      }
    }
    .now-future-panel {
      .now-future-item {
        margin-left: 106px;
        &:first-child {
          margin-left: 0;
        }
        &__number {
          color: $lightBlue;
          font-size: 64px;
          font-family: $f_NotoSans_Bold;
          line-height: 88px;
        }
        &__text {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}
.background-pink {
  background-color: $pinkLight;
  strong,
  b {
    font-family: $f_NotoSans_Bold;
  }
}
.box-wrapper {
  max-width: $wrapper_width;
}
.background-light-gray {
  background-color: $lightGrey;
}
.background-light-green {
  background-color: $lightGreen;
}
.cloud-service {
  strong,
  b {
    font-family: $f_NotoSans_Bold;
  }
}
.job-name {
  font-family: $f_Manrope;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: $blue;
}
.job-lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .job-item {
    .job-description {
      color: $grey;
      font-size: 16px;
      line-height: 22px;
    }
    .job-position {
      background-color: $blue;
      padding: 4px 6px;
      border-radius: 8px;
    }
  }
}
.wrapper-content-bottom {
  width: 1200px;
}
