.banner {
  height: 656px;
  .header-right {
    width: 915px;
    background-image: url("#{$images}/banner.svg");
  }
  .header-top {
    background-color: $blue;
    height: 36px;
    width: 915px;
    .header-top-item {
      margin-left: 100px;
      &:first-child {
        margin-left: 0;
      }
      &__text {
        font-family: $f_Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }

  .banner-slogan {
    color: $blue;
    font-size: 56px;
    line-height: 75px;
    font-family: $f_NotoSans_Bold;
    padding-left: 30px;
    padding-right: 30px;
  }
  .barro {
    transform: translateX(-50%);
  }
  .col-left {
    width: 484px;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

    .front-page-text-home {
      font-family: $f_NotoSans_Bold;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .banner-menu {
    margin-top: 60px;
    padding-left: 33px;
    padding-right: 33px;
    .menu {
      li {
        margin-left: 72px;
        &:first-child {
          margin-left: 0;
        }
        a {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
    .tab-now-future {
      margin-top: 100px;
      li {
        margin-left: 20px;
        &:first-child {
          margin-left: 0;
        }
        button {
          font-size: 22px;
          font-family: $f_NotoSans_SemiBold;
          opacity: 0.5;
          padding: 0 37px;
          line-height: 30px;
          &.active {
            border-bottom: 1px solid #fff;
            padding-bottom: 16px;
            opacity: 1;
          }
        }
      }
    }
    .now-future-panel {
      margin-top: 30px;
      .now-future-item {
        margin-left: 106px;
        &:first-child {
          margin-left: 0;
        }
        &__number {
          color: $lightBlue;
          font-size: 64px;
          font-family: $f_NotoSans_Bold;
          line-height: 88px;
        }
        &__text {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}
